<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="Browser" value="Chrome" />
    <add key="appURL" value="file:///D:/AUT/AUTONE.htm" />
    <add key="reportPath" value="\Report\" />
    <add key="screenShotPath" value="\ScreenShots\" />
    <add key="driverPath" value="\Library\Drivers" />

    <add key="baseURL" value="http://restapi.demoqa.com/utilities/weather/city/" />
    <add key="baseURL1" value="http://localhost:3000/" />


  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>

