<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key ="Browser" value="Chrome"/>
    <add key ="appURL" value="file:///D:/AUT/AUTONE.htm"/>
    <add key ="reportPath" value="\Report\"/>
    <add key ="screenShotPath" value="\ScreenShots\"/>
    <add key ="driverPath" value="\Library\Drivers"/>

  </appSettings>

</configuration>

